// list header sticky
.o_list_view .o_list_table thead,
.o_list_renderer .o_list_table thead {
    position: sticky;
    top: 0;
    z-index:999;
}
.table-responsive{
    overflow: visible;
}
.o_list_view .table-responsive .table thead{
    z-index: 1;
}

//Removes default top spacing of list view inside form
.o_form_view .o_form_sheet_bg{
    padding-top: 0px;
}

// List footer sticky
.o_list_footer {
    position: sticky;
    bottom: 0;
    background-color: white;
}

.o_form_renderer:has(.o_form_sheet_bg):has(.o-mail-ChatterContainer) { display: block !important; .o_form_sheet_bg { min-width: 100%; } .o-mail-ChatterContainer, .o-mail-Form-chatter { &.o-aside { width: 100%; } } }
